<div class="container col-sm-12">

<div class="row">
	<div class="col-sm-12 col-md-12">
		<h2>CARD EXCHANGE</h2>

	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-md-3">
		<a class="btn btn-large btn-primary create-tournament tournament-btn"<%= link_to "New Card", new_topic_path %></button>

	</div>
	<div class="col-sm-6 col-md-6">
		<h3>Recent Cards</h3>
		<ul>
			<% @topics.each do |topic| %>

			<div class="card">

			<% if current_user %>

					<img width = "40px" src= "<%= current_user.image %>" >
					<p><i><small>Posted by <%= current_user.name %></i></small></p>

			<% end %>

				<%= topic.body %>

<br><br>

				<strong>Source:</strong> <%= topic.source %><br>
				Posted at <%= topic.updated_at.strftime("%m/%d/%Y %I:%M %P") %>
<br>


				<%= link_to "Edit Card", edit_topic_path(topic.id) %> or

				<%= link_to "Delete Card",
					topic,
					:method => :delete,
					:confirm => "Are you sure you want to delete this card?" %>

<div class="row">
					<%= form_for [topic] do |f| %>
								<%= f.label :starred %>
								<%= f.check_box :starred %><br>-


				<% if topic.starred == true %>
					 <%= f.submit "Unstar Card"%>
				<% else %>
					<%= f.submit "Star Card"%>
					<% end %>
				<% end %>
				</div>






		</div><br><br>

			<% end %>
		</ul>

	</div>

		<div class="col-sm-3 col-md-3">

				<h3>My Starred Cards</h3>

				<ul>
			<% @topics.each do |topic| %>

			<div class="card">

			<% if topic.starred == true %>
			<% if current_user %>
					<img width = "40px" src= "<%= current_user.image %>" >
					<p><i><small>Posted by <%= current_user.name %></i></small></p>
					<br>
			<% end %>


				<%= topic.body %>

<br><br>

				<strong>Source:</strong> <%= topic.source %><br>
				Posted at <%= topic.updated_at.strftime("%m/%d/%Y %I:%M %P") %>

			<% end %><br>






		</div><br><br>

			<% end %>
		</ul>

			</div>
</div>
</div>
