<h2>New Debate Topic</h2>

<%= form_for(@topic) do |f| %>

	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description %><br />

	<%= f.submit %>
	<% end %>