<h2><%= @topic.name %></h2>

<%= link_to "Edit Debate Topic", edit_topic_path(@topic) %> or

<%= link_to "Delete Debate Topic",
	topic_path(@topic),
	:method => :delete,
	:confirm => "Are you sure you want to delete this debate topic?" %>

	<br>

<%= link_to "New Evidence Card", new_topic_card_path(@topic) %>

<ul id="cards">
	<% @topic.cards.each do |card| %>
		<li>
			#<%= card.id %> -
			<%= link_to card.title, [@topic, card] %>
		</li>
	<% end %>

</ul>
	<%= link_to "Back to Debate Topics", topics_path %>