<div class="container col-sm-12">
<div id="case">
	<h2><%= @case.title %></h2>
	<%= link_to "Back to Resolutions", resolutions_path %><br><br>
	<%= link_to "Edit Case", [:edit, @resolution, @case] %><br>
	<%= link_to "Delete Case", [@resolution, @case], :method => :delete, :confirm => "Are you sure you want to delete this case?" %><br>
	<%= @case.content %>
</div><br>
	<a class="btn btn-large btn-primary create-tournament tournament-btn"<%= link_to "Add Critique", new_resolution_case_critique_path(@resolution, @case) %></button>
<br>
<h4>Critiques</h4>
<ul id="critiques">
	<% @case.critiques.each do |critique| %>
		<li>
			<h4><%= critique.name %></h4>
			<%= critique.body %><br>
			<%= link_to "Remove this Critique", [@resolution, @case, @critique], :method => :delete, :confirm => "Are you sure you want to delete this critique?" %>
		</li>
	<% end %>
</ul>
</div>
