<div id="user-<%= @user.id %>">
<div class="row user">
	<section class="col-md-2 left-user-panel user-panel">
		<!-- TODO: User attributes -->
	</section>
	<section class="col-md-7 middle-user-panel user-panel">
		<div class="user-image">
			<%= image_tag(@user.image) %>
		</div>
		<div class="user-basics">
			<h3><%= @user.name %></h3>
			<h4><b style="color: #FD9800;font-size:36px;"><%= @user.points || 0 %></b>  points</h4>
		</div>

		<div class="user-summary">
			<h4>Self-Summary</h4>
			<%= simple_form_for @user do |f| %>
			<%= f.input :summary, label: false %>
		</div>
		<% unless @user.judge.nil? %>
			<div class="user-paradigm">
				<h4>Judging Paradigm</h4>
			  	<%= f.simple_fields_for :judge do |j| %>
			  		<%= j.input :paradigm, label: false,
			  		hint: 'Describe your judging preferences and how you evaluate debaters as a judge' %>
				  <% end %>
			</div>
		<% end %>
	</section>
	<section class="col-md-3 right-user-panel user-panel">
		<h4>Recent Activity</h4>
		<!-- TODO: recent activity for user -->
	</section>
</div>
</div>
<% end %>
