<%= render 'profile_ctr_1' %>
			<%= simple_form_for @user do |f| %>
			<%= f.text_area :summary, label: false, rows: '10' %>

		</div>

		<% unless Judge.where(user_id: current_user.id).first.nil? %>
			<div class="user-field user-paradigm">

				<h4>Judging Paradigm</h4>
			  	<%= f.simple_fields_for :judge do |j| %>
			  		<%= j.text_area :paradigm, label: false, rows: '10',
			  		placeholder: 'Describe your judging preferences and how you evaluate debaters as a judge.' %>
				  <% end %>
			</div>
		<% end %>
<%= f.button :submit, :class => 'user-field btn-info', :id => 'update-tournament' %>

<%= render 'profile_rt_1' %>
<% end %>
