<div id="user-<%= @user.id %>" class="user-profile">
	<div class="row user">

		<section class="col-md-4 left-user-panel user-panel">
			<%= render 'profile_lt_1' %>
			<%= simple_form_for @user do |f| %>
			<div class="social-fields">
				<%= f.input :googleplus, label: 'Google+', input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'} %>
				<%= f.input :facebook, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
				<%= f.input :twitter, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
				<%= f.input :social_email, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}%>
				<%= f.input :website, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
		</div>
		</section>
		<section class="col-md-8 middle-user-panel user-panel">

			<%= render 'profile_ctr_1' %>

			<div class="user-field">
				Set Your Time Zone: <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
			</div>

	    <div class="user-field">
	      <h4>Self-Summary</h4>
					<%= f.text_area :summary, label: false, rows: '10' %>
			</div>
			<% unless Judge.where(user_id: current_user.id).first.nil? %>
			<hr class="divider">
			<div class="user-field">
				<h4>Judging Paradigm</h4>
			  	<%= f.simple_fields_for :judge do |j| %>
			  		<%= j.text_area :paradigm, label: false, rows: '10',
					  		placeholder: 'Describe your judging preferences and how you evaluate debaters as a judge.' %>
				  <%  end %>
			</div>
			<% end %>
			<div class="user-field">
				<%= f.button :submit, :class => 'btn-primary', :id => 'update-tournament' %>
			</div>
			<% end %>
	  </section>
	</div>
</div>

