<%= simple_form_for @user do |f| %>

    <section>
      <%= f.input :summary, label: 'Self-Summary' %>
    </section>
    <section>
        <%= f.input :googleplus, label: 'Google+', input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'} %>
        <%= f.input :facebook, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
        <%= f.input :twitter, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
        <%= f.input :social_email, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}%>
        <%= f.input :website, input_html: {class: 'social-field'}, wrapper_html: {class: 'social-input'}  %>
    </section>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    <%= f.button :submit, :class => 'btn btn-primary' %>

<% end %>


