<%= render 'profile_ctr_1' %>
			<%= simple_format(@user.summary) %>
		</div>

		<% unless (Judge.where(user_id: current_user.id).first.nil? || @user.as_judge.paradigm.blank?) %>
			<div class="user-field user-paradigm">
				<h4>Judging Paradigm</h4>
				<%= simple_format(@user.judge.paradigm) %>
			</div>
		<% end %>
<%= link_to 'Edit Your Profile', edit_user_path(@user), class: 'float-right' if @user==current_user %>
<%= render 'profile_rt_1' %>
  </section>
</div>
</div>
