<div class="content-container">

  <section>
    <div class ="row">
      <div class="col-sm-12">
        <h3><%= @user.name %></h3>
        <% if current_user %>
        <% end %>
      </div>
    </div>
        <div class="row user-info">
          <div class="col-sm-6 pull-left clearfix">
            <section class="basics">
                <div class="user pull-left">
                  <%= image_tag @image %>
                  <div class="points rep"><%= @user.points || 0 %> rep</div>
                  <div class="points rank"><%= @user.points || 0 %> rank</div>
                </div>

                <div class="right-half pull-right">
                  <table>
                    <tr><th >Team</th><td>Lincoln North Star High School</td></tr>
                    <tr><th >Location</th><td>Lincoln, Nebraska</td></tr>
                    <tr><th >Member since</th><td>4 weeks ago</td></tr>
                    <tr><th >Last logged in</th><td>3 min ago</td></tr>
                    <tr><th >Profile Views</th><td>43</td></tr>
                    <% unless @user.judge.nil? %>
                        <tr>
                          <th >Judging Paradigm</th>
                          <td>
                            <%= @user.judge.paradigm_blank? ? 'Unavailable' : (link_to 'Available', user_judge_path(@user, @user.judge))%>
                            <%= link_to '(Add/Edit)', edit_user_judge_path(@user, @user.judge), class: 'orange-link' if (current_user && @user == current_user && @user.judge) %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                  <div class="social">
                    <% unless @user.googleplus.blank? %>
                        <a href="<%= @user.googleplus%>">
                          <%= image_tag 'googleplus_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.facebook.blank? %>
                        <a href="<%= @user.facebook%>">
                          <%= image_tag 'facebook_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.twitter.blank? %>
                        <a href="<%= @user.twitter%>">
                          <%= image_tag 'twitter_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.social_email.blank? %>
                        <a href="mailto:<%= @user.social_email%>">
                          <%= image_tag 'email_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.website.blank? %>
                        <a href="<%= @user.website%>">
                          <%= image_tag 'website_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>

                  </div>
                  <% if (current_user && @user == current_user) %>
                      <small><a class="pull-right orange-link save-social-media" href="#">edit/add links</a></small>
                  <% end %>
                  <div class="social-media-edit-form">
                    <%= simple_form_for @user do |f| %>
                        <%= f.input :googleplus, label: 'Google+' %>
                        <%= f.input :facebook %>
                        <%= f.input :twitter %>
                        <%= f.input :social_email, label: 'Email Address' %>
                        <%= f.input :website, label: 'Personal Website' %><br>
                        <%= f.submit val: 'Update', class: 'btn btn-primary' %>
                    <% end %>
                  </div>
                </div>
            </section>
          </div>
          <div class="col-sm-6 pull-left clearfix">
            <section>
              <article class="self-summary" <%= 'contenteditable=true' if (current_user && @user == current_user) %> >
                  <%= (@user.summary.html_safe if @user.summary)%>
              </article>
              <% if (current_user && @user==current_user) %>
                <small>
                  <div class="pull-left">Click above to edit your self-summary.</div>
                  <div class="pull-right">
                    <a href="#" data-user="<%= @user.id %>" class="orange-link reset"> clear all</a> |
                    <a href="#" data-user="<%=@user.id%>" class="orange-link save">save edits </a>
                  </div></small>
              <% end %>
            </section>
          </div>
        </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-12">
        <header>Activity</header>
        <article>
          Some activity
        </article>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-12">
        <header>Badges</header>
        <article>
          Badges
        </article>
      </div>
    </div>
  </section>

</div>
