<div id="user-<%= @user.id %>" class="user-profile">
  <div class="row user">
    <section class="col-md-4 left-user-panel user-panel">

    <%= render 'profile_lt_1' %>
    </section>
    <section class="col-md-8 middle-user-panel user-panel">
    <%= link_to 'Edit Your Profile', edit_user_path(@user), class: 'float-right' if @user==current_user %>
      <%= render 'profile_ctr_1' %>
      <div class="user-field">
        <b><%=@user.first_name%>'s Current Time:</b><br><%=Time.now.in_time_zone(@user.time_zone).strftime("%D %l:%M%P")%> <%= @user.time_zone %><br>
      </div>
      <div class="user-field user-summary">
        <h4>Self-Summary</h4>
    			<%= simple_format(@user.summary) %>
      </div>
    		<% unless (Judge.where(user_id: current_user.id).first.nil? || @user.as_judge.paradigm.blank?) %>
        <hr class="divider">
    			<div class="user-field user-paradigm">
    				<h4>Judging Paradigm</h4>
    				<%= simple_format(@user.judge.paradigm) %>
    			</div>
    		<% end %>

      </section>
  </div>
</div>
