<div class="content-container">

  <section>
    <div class ="row">
      <div class="col-sm-12">
        <h3><%= @user.name %></h3>
        <h4 class="subheader"><%= @user.roles %>
          <% if current_user %>
              <small>
                (<a data-toggle="modal" href="#edit-roles-form" class="orange-link">add/edit roles</a>)
              </small>
          <% end %>
        </h4>

            <div class="modal fade" id="edit-roles-form" tabindex="-1" role="dialog" aria-labelledby="Add or Edit Roles" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Update Current Roles</h4>
                  </div>
                  <div class="modal-body">
                    Specify your current role(s) to receive relevant announcements from the community.<br>
                    Check all that apply.
                    <%= simple_form_for @user do |f| %>

                        <%= f.input :is_coach, label: 'Coach', as: :boolean %>
                        <%= f.input :is_debater, label: 'Debater', as: :boolean %>
                        <%= f.input :is_judge, label: 'Judge', as: :boolean %>
                        <%= f.input :is_instructor, label: 'Instructor', as: :boolean %>
                        <%= f.input :is_organizer, label: 'Organizer', as: :boolean %>
                        <%= f.input :is_contributor, label: 'Community Contributor', as: :boolean %>

                  </div>
                  <div class="modal-footer">
                    <%= f.submit 'Update Roles', class: 'btn btn-primary' %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


          <% end %>

      </div>
    </div>
        <div class="row user-info">
          <div class="col-sm-6 pull-left clearfix">
            <section class="basics">
                <div class="user pull-left">
                  <%= image_tag @image %>
                  <div class="points rep"><%= @user.rep || 0 %> rep</div>
                  <div class="points rank"><%= @user.rank || 0 %> rank</div>
                </div>

                <div class="right-half pull-right">
                  <table>
                    <tr><th>Team(s)</th><td>
                      <% for team in @user.teams %>
                      <%= link_to team.name, team_path(team)%><br>
                      <% end %>
                    </td></tr>
                    <tr><th>Location</th><td><%= @user.location%></td></tr>
                    <tr><th>Member since</th><td><%=@user.member_since.strftime("%B %Y")%></td></tr>
                    <tr><th>Last logged in</th><td><em><%=time_ago_in_words(@user.last_logged_in)%> ago</em></td></tr>
                    <tr><th>Profile views</th><td><%= @user.profile_views || 0%></td></tr>
                    <% if @user.is_judge %>
                        <tr>
                          <th >Judging Paradigm</th>
                          <td>
                            <em><%= @user.judge.paradigm_blank? ? 'Unavailable' : (link_to 'Available', user_judge_path(@user, @user.judge))%></em>
                            <%= link_to '(add/edit)', edit_user_judge_path(@user, @user.judge), class: 'orange-link' if (current?(@user) && @user.judge) %>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                  <div class="social">
                    <% unless @user.googleplus.blank? %>
                        <a href="<%= @user.googleplus%>">
                          <%= image_tag 'googleplus_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.facebook.blank? %>
                        <a href="<%= @user.facebook%>">
                          <%= image_tag 'facebook_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.twitter.blank? %>
                        <a href="<%= @user.twitter%>">
                          <%= image_tag 'twitter_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.social_email.blank? %>
                        <a href="mailto:<%= @user.social_email%>" title="<%= @user.email %>">
                          <%= image_tag 'email_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>
                    <% unless @user.website.blank? %>
                        <a href="<%= @user.website%>">
                          <%= image_tag 'website_icon_black.png', class: 'icon' %>
                        </a>
                    <% end %>

                  </div>
                  <% if current?(@user) %>
                      <small>
                        <a data-toggle="modal" href="#edit-links-form" class="pull-right orange-link">add/edit links</a>
                      </small>

                      <div class="modal fade" id="edit-links-form" tabindex="-1" role="dialog" aria-labelledby="Add or Edit Roles" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Update Links</h4>
                            </div>
                            <div class="modal-body">
                              Allow others to contact you through social media, email, or your personal website.
                              <%= simple_form_for @user do |f| %>

                                  <%= f.input :googleplus, label: 'Google+', placeholder: 'http://plusgoogle.com/yourprofile' %>
                                  <%= f.input :facebook, placeholder: 'http://www.facebook.com/yourprofile' %>
                                  <%= f.input :twitter, placeholder: 'http://www.twitter.com/yourprofile' %>
                                  <%= f.input :social_email, label: 'Email Address', placeholder: 'youremail@domain.com' %>
                                  <%= f.input :website, label: 'Personal Website', placeholder: 'http://www.yourwebsite.com' %>

                                  </div>
                                  <div class="modal-footer">
                                    <%= f.submit 'Update Links', class: 'btn btn-primary' %>
                              <% end %>
                              </div>
                              </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                  <% end %>

            </section>
          </div>
          <div class="col-sm-6 pull-left clearfix">
            <section>
              <article class="self-summary" <%= 'contenteditable=true' if current?(@user) %> >
                  <%= (@user.summary.html_safe if @user.summary)%>
              </article>
              <% if current?(@user) %>
                <small>
                  <div class="pull-left">Click above to edit your self-summary.</div>
                  <div class="pull-right">
                    <a href="#" data-user="<%= @user.id %>" class="orange-link reset"> clear all</a> |
                    <a href="#" data-user="<%=@user.id%>" class="orange-link save">save edits </a>
                  </div></small>
              <% end %>
            </section>
          </div>
        </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-12">
        <header>Activity</header>
        <article>
          Some activity
        </article>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-12">
        <header>Badges</header>
        <article>
          Badges
        </article>
      </div>
    </div>
  </section>

</div>
