<fieldset>
<div class="division-form">
		<div class="division-name-field">
			<h4><%= f.input :name, label: false, placeholder: 'Division Name', error: false %></h4>
			<%= f.hidden_field :_destroy %>
<%= link_to 'Cancel this division and all of its rounds', '#', class: 'remove_fields remove-division' %>
	
		</div>	
		<p>Rounds must have 1 or more brackets.</p>

		<div class="round-form">
			<div class="set-rounds">
			<ol>
						<%= f.simple_fields_for :rounds do |round| %>
									<%= render 'round_fields', f: round %>
						<% end %>
						<!--TODO: Fix cancellation link movement; Be able to indicate when a round is over/ still going on. 
							You should not be able to edit a done /existing round? -->
							
							
				<%= link_to_add_fields 'Add round', f, :rounds %>			
			</ol>
			</div>	
		</div>		

</div>

</fieldset>
