
<!-- TODO: Format form -->

		<h3>Tournament Summary</h3>
	  	<p>Summarize the main information of your tournament to show in the Tournament Listings.</p>
		<p class="name">
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</p>			
		<p class="starttime">
			<%= f.label :starttime, "Start" %><br>
			<%= f.datetime_select :starttime, 
				ampm: true,
				starttime_year: Time.now.year,
				:default => {:month => 7.days.from_now.month, :day => 7.days.from_now.day, :hour => 12, :minute => 00},		
				:order => [:month, :day, :year, :hour] %>
		</p>
		<p class="endtime">
			<%= f.label :endtime, "End" %><br>
			<%= f.datetime_select :endtime, 
				ampm: true,
				starttime_year: Time.now.year,
				:default => {:month => 14.days.from_now.month, :day => 14.days.from_now.day, :hour => 12, :minute => 00},
				:order => [:month, :day, :year, :hour] %>
		</p>
		<p class="description">
			<%= f.label :summary, "Summary" %><br>
			<%= f.text_area :summary, :rows => 5 %><br>
			<span class="hint">Max 500 Characters</span><br />
		</p>
		<p class="asset">
			<%= f.label :asset, "Upload a New Image" %><br />
			We strongly recommend using a <b>square</b> image sized <b>224px by 224px</b> or greater.
			A tall images will automatically have its bottom cropped out in listings.<br>
			File Uploaded: <%= @tournament.asset_file_name || "none" %>
			<%= f.file_field :asset %>
		</p>
		<a class="btn btn-large btn-primary" data-toggle="tab" href="#details">NEXT: Set Tournament Details</a>
	  </div>
	  
	  <div class="tab-pane fade" id="details">
	  	<h3>Tournament Details</h3>
	  	<p>Give full tournament details for your prospective debaters and judges.</p>
		<p class="description">
			<%= f.label :description, "Tournament Overview" %><br>
			<%= f.text_area :description %>
		</p>			
		<p class="entry_info">
			<%= f.label :entry_info, "Entry" %><br>
			<%= f.text_area :entry_info %>
		</p>			
		<p class="divisions_info">
			<%= f.label :divisions_info, "Divisions" %><br>
			<%= f.text_area :divisions_info %>
		</p>			
		<p class="judges_info">
			<%= f.label :judges_info, "Judges" %><br>
			<%= f.text_area :judges_info %>
		</p>			
		<p class="additional_info">
			<%= f.label :additional_info, "Additional Information" %><br>
			<%= f.text_area :additional_info %>
		</p>			

	  	<a class="btn btn-large btn-primary" data-toggle="tab" href="#rules">NEXT: Set Tournament Rules</a>
	  </div>
	  
	  <div class="tab-pane fade" id="rules">
		<p class="rules_info">
			<%= f.label :rules_info, "Rules Description" %><br>
			<%= f.text_area :rules_info %>
		</p>			
	  	<a class="btn btn-large btn-primary" data-toggle="tab" href="#confirmation">NEXT: View Confirmation Summary</a>
	  </div>
	  
	  <div class="tab-pane fade" id="confirmation">
	  	CONFIRMATion

		<p class="submit">
			<%= f.submit %>		
		</p>

	  </div>
	</div>
