
	<tr class="row-count round-row" data-toggle="collapse" data-target="#round-<%=f.object.id || 'dynamic_time' %>">
							<td><!-- row index --><fieldset></td>
							<% if f.object.kind %>
							<td>
								<b><%= f.object.kind %></b>
							</td>
							<% else %>
							<td><b class="bracket-filler">Click to Add/Edit</b></td>
							<% end %>
						<% num_brackets_in_round = f.object.brackets.length %>
						<% num_fillers = num_brackets.zero? ? 1 : num_brackets - num_brackets_in_round %>
						<% f.object.brackets.each do |bracket| %>
							<td>
								<span class="start-date"><%= bracket.start_date %></span>
								<span class="start-time"><%= bracket.start_time %></span></td>
						<% end %>
						<% num_fillers.times do %>
							<td class="bracket-filler">None Assigned</td>
						<% end %>
	</tr>

	<!-- Collapsed Edit Row -->
	<tr id="round-<%=f.object.id || 'dynamic_time' %>" class="round-edit-row collapse" style="background-color: #ddd;">

		<td><!-- row index --></td>

		<td><%= f.input :kind, label: false,
		:collection => ['Unpowered Prelim', 'Powered Prelim','Octofinals','Quarterfinals','Semifinals','Finals'], default: 'Unpowered Prelim', :error => false, input_html: { class: 'round-kind'} %><br>
		<%= f.input :_destroy, label: 'Delete Round', as: :boolean, wrapper_html: { class: 'single-checkbox'} %>


			<%= f.simple_fields_for :brackets do |bracket| %>
				<%= render 'bracket_fields', f: bracket %>
			<% end %>
		</td>
		<td class="new-bracket-link">
			<%= link_to_add_fields '+Bracket', f, :brackets %></fieldset>
		</td>
	</tr>

<!-- TODO: Fix -->



