<% unless @tournament.endtime < Time.now %>

<%= simple_form_for @tournament do |f| %>

<!-- Errors -->
<% if @tournament.errors.any? %>
  <div id="error_explanation">
   <div class="alert custom-alert">
     The form contains <%= pluralize(@tournament.errors.count, "error") %>.
	  <ul>
	   <% @tournament.errors.full_messages.each do |msg| %>
	    <li>* <%= msg %></li>
	   <% end %>
	 </ul>

   </div>
</div>
<% end %>




<!-- Basic Settings -->
	<div class="set-basics">
		<h3>Basic Settings</h3>
		<%= f.input :name, label: 'Name', error: false %><br>

		<% if @tournament.starttime > Time.now %>
			<%= f.input :starttime, label: 'Starts',
			:order => [:month, :day, :year, :hour],
			ampm: true, error: false %><br>
		<% else %>
		<p id="tourney-start"><b>Started</b> <%= @tournament.start_time %></p>
		<% end %>
		<!-- TODO: Datetime pickers -->

		<%= f.input :endtime, label: 'Ends ',
		:order => [:month, :day, :year, :hour],
		ampm: true, error: false %>

		<!-- TODO: Datetime pickers -->
	</div>
	<hr class="field-divider">

	<!-- Scheduling -->

	<h3>Scheduling</h3>
		  	<p>
			  	Allow all debaters and judges to start their rounds at the same time, <em>or</em>
			  	assign multiple <b>brackets</b> so
			  	that competitors and judges can attend to their rounds at different times
			  	of the tournament. All rounds must have at least 1 bracket, which would assign
			  	a time that all debaters and judges would attend their rounds.
		  	</p>
            <p>Divisions are often named by experience level and debate type, for
            example, "Novice LD", "Varsity LD", etc.</p>



<!-- Scheduling: All Divisions -->
<div class="panel-group" id="accordion">
  	<%= f.simple_fields_for :divisions do |division| %>
	 		<%= render 'division_fields', f: division %>
	  <% end %>
  	<%= link_to_add_fields '+New Division', f, :divisions %>
</div><br><br>

<hr class="field-divider">

<!-- Registration -->
<div class="set-basics">
	<h3>Registration</h3>

	<%= render 'registration'%>



</div>


<%= f.button :submit, :class => 'btn-danger', :id => 'update-tournament' %>
<!-- TODO: Add a primary class to button-->
<% end %>

<% end %>
