<%= simple_form_for @tournament do |f| %>
<!-- TODO: Fix how validation errors are handled. Messes up form. -->
	<div class="set-basics">
		<h4>Basic Settings</h4>
		<%= f.input :name, label: 'Name' %><br>
		<%= f.input :starttime, label: 'Starts',
		:order => [:month, :day, :year, :hour],
		ampm: true  %><br>
		<%= f.input :endtime, label: 'Ends',
		:order => [:month, :day, :year, :hour],
		ampm: true  %>
	</div>
	<hr class="field-divider">
	<div class="set-divisions">
			<div class="divisions-form">
				<%= f.simple_fields_for :divisions do |division| %>
						<%= render 'division_fields', f: division %>
				<% end %>

				<div class="new-division">
					<%= link_to_add_fields 'Add a New Division', f, :divisions%>												
				</div>			

			</div>
	</div>
	<div class="set-brackets">
		
	</div>
	<div class="set-matches">
		
	</div>

<%= f.button :submit %>
<% end %>
