<%= simple_form_for @tournament, :class => 'form-horizontal' do |f| %>
	<div class="set-basics">
		<h3>Basic Settings</h3>
		<%= f.input :name, label: 'Name' %><br>
		<%= f.input :starttime, label: 'Starts',
		:order => [:month, :day, :year, :hour],
		ampm: true  %><br>
		<%= f.input :endtime, label: 'Ends',
		:order => [:month, :day, :year, :hour],
		ampm: true  %>
	</div>
	<div class="set-divisions">
		<h3>Tournament Divisions</h3>
		<fieldset id="divisions">
			<ul>
				<%= f.simple_fields_for :divisions do |division| %>
					<%= render 'division_fields', f: division %>
				<% end %>				
			</ul>
				<%= link_to_add_association 'Add Division', f, :divisions, 
				    'data-association-insertion-node' => "#divisions ul", 
				    'data-association-insertion-method' => "append", 
				    :wrap_object => Proc.new {|division| @tournament.divisions.build; division } %> 
			
		</fieldset>

	</div>
	<div class="set-rounds">
		
	</div>
	<div class="set-brackets">
		
	</div>
	<div class="set-matches">
		
	</div>

<%= f.button :submit %>
<% end %>
