
<%= render 'tournaments_carousel' %>
<h1>Listing tournaments</h1>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Epic Tournament of Epicness</h4>
    <p class="list-group-item-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum libero at enim commodo, non dapibus sapien cursus. Pellentesque consectetur dictum eros, quis pulvinar odio porta commodo. Curabitur ultricies dapibus convallis. Ut volutpat elementum laoreet. Donec iaculis risus nisl, a aliquet libero ultricies quis. Etiam laoreet massa nulla, sit amet tempor turpis cursus a. Fusce tempor tristique diam, eget pellentesque velit ullamcorper a.
	</p>
  </a>
  <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Another Great LD Tournament</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
  <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Another Great LD Tournament</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>

  <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Another Great LD Tournament</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>

  <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Another Great LD Tournament</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>

</div>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= link_to 'Show', tournament %></td>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament', new_tournament_path %>
