
<div id="tournaments-index">

	<div class="row" id="tournament-list">

	<h2 id="upcoming-header"><%= image_tag 'honor_md.png' %> Upcoming Tournaments</h2><br>
	<p class="lead center-this">
		Don't see a tournament you want to join?<br>
		<%= link_to 'Create your own tournament', new_tournament_path%>.
	</p>
	<br><br>
	<div class="hint timezone"><b>Time Zone:</b> <%= current_user.time_zone %>. It is currently <%=Time.now.in_time_zone(current_user.time_zone).strftime("%D %l:%M%P")%>. Change the time zone setting in your <%= link_to 'profile', edit_user_path(current_user)%>.
		<br><br></div>
	<% @tournaments.each do |tournament| %>
	  <div class="col-sm-4 col-lg-4">
	  	<div class="tournament-item">
		        <h3><%= link_to tournament.name, tournament_path(tournament) %></h3>
	      <p class="tournament-date">
		      	<b>Starts </b><%= (tournament.starttime.strftime("%a %b %-d at %l:%M%p") if tournament.starttime.year == Time.now.year) || tournament.starttime.strftime("%a %b %-d, %Y at %l:%M%p") %><br />
		      	<b>Ends </b><%= (tournament.endtime.strftime("%a %b %-d at %l:%M%p") if tournament.endtime.year == Time.now.year) || tournament.endtime.strftime("%a %b %-d, %Y at %l:%M%p") %>
		      </p>
			      <% default_image = "https://cdn2.iconfinder.com/data/icons/huge-basic-vector-icons-part-3-3/512/awards_award_star_gold_medal-512.png" %>
	 		      <%@image = (tournament.asset.url if tournament.asset.url != "/assets/original/missing.png") || tournament.asset_url || default_image  %>
			      <%= link_to image_tag(@image, :class => "tournament-image"), tournament_path(tournament) %><br><br>

	      <p>
	      	<%= tournament.summary %>
	      </p>
	        <p><%= link_to 'Register', tournament_path(tournament)%></p>
	    </div>
	  </div>
	  <% end %>
	  </div>
	</div>
	</div>

</div>

