
<%= render 'tournaments_carousel' %>

<hr class="featurette-divider">

<!-- TODO: Replace dummy links -->
	
<div class="row" id="tournament-list">

<!-- TODO: Link to Tournament objects -->
	
<% @tournaments.each do |tournament| %>
  <div class="col-sm-3 col-md-3 tournament-item">
    <div class="thumbnail">
      <h4 class="tournament-date">August 28 - August 29</h4>
      <%= link_to image_tag(tournament.image, :class => "tournament-image"), tournament_path(tournament) %>
      <div class="caption">
        <h3><%= link_to tournament.name, tournament_path(tournament) %></h3>
        <p><%= tournament.description %></p>
        <p><a href="#" class="btn btn-primary">Debate</a> <a href="#" class="btn btn-default">Judge</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
	
<%= link_to 'New Tournament', new_tournament_path %>

