<% if current_user %>
<!-- TODO: Better responsive design -->
<h2>Welcome back, <%= current_user.first_name %>.</h2>
New Users


    <div class="user-container">
      <h3 class="lead">Trending</h3>
      <ul class="list-group trending">
        <% 10.times do %>
            <li class="list-group-item trending-card">
              <div>
                <%= image_tag 'bullets/bullet_star_empty.png', class: 'card-star' %>
                <span class="card-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
              </div>
              <span class="card-author">Posted by Sarah Lee</span><br>
              <p class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ...
              </p>
              <a class="card-expand" href="#">Expand</a>
              <span class="card-date">23 Aug</span>
            </li>
        <% end %>
        <!-- TODO: Infinite Scroll -->
      </ul>
      <a class="float-right" href="#">See all cards.</a><br>
      <div class="connections-container">
        <h3 class="lead">Connections</h3>
        <!-- TODO: Filter for friends -->
        <% User.all.each do |user| %>
            <% user_image = ("empty_profile.png" if user.image.blank?) || user.image %>
            <span class="connection" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= user.name %>">
								<%= link_to image_tag(user_image, alt: user.name, class: 'profile-thumbnail-md'), user_path(user) %>
							</span>
        <% end %>
      </div>
    </div>

	<div class="row center dashboard">
		<div class="col-sm-8 col-md-6">
			<div class="dashboard-container border">
				<h3 class="lead">News Feed</h3>
			</div>
		</div>
		<div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3">
			<div class="dashboard-container border">

			</div>
		</div>
	</div>

<% else %>

<!-- Non-signed in-->
      <%= render 'splash' %>


<% end %>




