<% if current_user %>
	<%= render "dashboard_carousel" %>

	<div class="row center">
		<div class="col-md-3">
			<div class="dashboard-container border">
	  		<% if current_user.image.nil? %>
					<%= image_tag "empty_profile.png", class: "profile-thumbnail-lg" %>
	      <% else %>
	      	<%= image_tag current_user.image, class: "profile-thumbnail-lg" %>
	    	<% end %>

		      <p class="lead"><%= @user.name %></p>


				Edit Profile
				No. Points
				Recent Achievements
			</div>
		</div>
		<div class="col-md-6">
			<div class="dashboard-container">
				News Feed
			</div>
		</div>
		<div class="col-md-3">
			<div class="dashboard-container border">
				Trending and Others
			</div>
		</div>
	</div>


	<div class="container col-sm-12">




	<div class="row">
		<div class="col-sm-2 col-md-2 first">
			<h4>Profile</h4>
			<div class="thumbnail"><img width = "150px" src= "<%= current_user.image %>" >
			</div>

			 <button class="btn btn-large btn-primary create-tournament tournament-btn">153 Points</button>
			 <button class="btn btn-large btn-primary msg-btn">1 New Message</button>
		</div>
		<div class="col-sm-5 col-md-5"><br><br>
			<h2><%= current_user.name %></h2>
			<p><%= current_user.email %></p>


			<p><img src="http://i.imgur.com/mVenBFn.png" width="70px">

			<img src="http://i.imgur.com/Td7vreV.png" width="70px">

			<img src="http://i.imgur.com/bPixPzK.png" width="70px"></p>
		</div>

</div>


<br>
<div class="row">
	<div class="col-sm-1 col-md-1"></div>
	<div class="col-sm-4 col-md-4 thumbnail">
		<h3>Latest Activity</h3>

			<ul>
			<li>Leandra just received the Debeggtor Badge! <img src="http://i.imgur.com/Td7vreV.png" width="70px"></li>
			<li>New Tournament Added, Sign up now! <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSlzjy7GHWAb4_priNMBwYxup-IIWb8S1OJ-P8B4kve57UZRPbETQ" width="60px"></li>
		</ul>

	</div>

	<div class="col-sm-2 col-md-2"></div>


		<div class="col-sm-4 col-md-4 thumbnail">
				<h3>Trending</h3>

			<ul>
			<li>#moraliy #lincoln @amyhua check out this new links!</li>
			<li>Can't wait to start my new case #critiqueatme #Ilovelincoln</li>
			<li>Love the new forum feature! @leandra and @amyhua are so cool!</li>
		</ul>
		</div>
		<div class="col-sm-1 col-md-1"></div>


</div>

<% else %>




  <%= render 'carousel' %>
  <center><h1>The Premier Web Service for Lincoln Douglas Debators</h1></center>
  <hr class="featurette-divider">
  <%= render 'about' %>
<% end %>




