<% if current_user %>
<%= render 'carousel' %>
	<div class="container">

	<div class="row">
		<div class="col-xs-12 col-md-8">
		<h4>Profile</h4>
		<img width = "100px" src= "<%= current_user.image %>" >
				<p><%= current_user.name %><br>
		<%= current_user.email %></p>
		<b>CURRENT_POINTS</b><br> <b>2 Messages</b><br><br>


		<p><b>BADGES</b></p>
		<p><b>FRIENDS</b></p>
	</div>

<div class="col-xs-6 col-md-4">

	<h4>Recent Tournament Results</h4>
		<div class="ind_results">
			<p><img width = "70px" src= "<%= current_user.image %>" ></p>
			<p><b>Fake Name</b></p>
			<p>Won for filler</p>
		</div>
		<div class="ind_results">
			<p><img width = "70px" src= "<%= current_user.image %>" ></p>
			<p><b>Fake Name</b></p>
			<p>Won for filler</p>
		</div>
		<div class="ind_results">
			<p><img width = "70px" src= "<%= current_user.image %>" ></p>
			<p><b>Fake Name</b></p>
			<p>Won for filler</p>
		</div>



	</div>

	<div id="latest_activity">
		<h4>Latest Activity</h4>
		<div class = "home_border">
			<ul>
			<li>A feed of latest activity</li>
			<li>Can be made up if we run out of time</li>
		</ul>
		</div>
	</div>

	<div id="trending">
				<h4>Trending</h4>
		<div class = "home_border">
			<ul>
			<li>A feed of latest activity</li>
			<li>Can be made up if we run out of time</li>
		</ul>
		</div>
	</div>

</div>
<% else %>




  <%= render 'carousel' %>
  <h1>Some more home page content for unsigned-in users goes here (e.g., tournament news, etc)</h1>
  <hr class="featurette-divider">
  <%= render 'about' %>
<% end %>

=



