<% if current_user %>



	<div class="container col-sm-12">
			<%= render "signedin_carousel" %>



	<div class="row">
		<div class="col-sm-2 col-md-2 thumbnail first">
			<h4>Profile</h4>
			<img width = "100px" src= "<%= current_user.image %>" >

			<p><%= current_user.name %><br>
			<%= current_user.email %></p>


			<b>CURRENT_POINTS</b><br> <b>2 Messages</b><br><br>


			<p><b>BADGES</b></p>
			<p><b>FRIENDS</b></p>
		</div>





	<div class="col-sm-4 col-md-4 thumbnail">
		<h4>Latest Activity</h4>

			<ul>
			<li>A feed of latest activity</li>
			<li>Can be made up if we run out of time</li>
		</ul>

	</div>



		<div class="col-sm-4 col-md-4 thumbnail">
				<h4>Trending</h4>

			<ul>
			<li>A feed of latest activity</li>
			<li>Can be made up if we run out of time</li>
		</ul>
		</div>


</div>

<% else %>




  <%= render 'carousel' %>
  <h1>Some more home page content for unsigned-in users goes here (e.g., tournament news, etc)</h1>
  <hr class="featurette-divider">
  <%= render 'about' %>
<% end %>




