<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inner navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- TODO: Include a logo -->

              <a class="navbar-brand" href="/">Lincoln Doulgas Debate</a>
            </div>
            <div class="navbar-collapse collapse">
            	<!-- TODO: Change the "active" class each time a link is clicked-->
              <ul class="nav navbar-nav">
              	<!-- TODO: Replace dummy links with links to pages -->
                <li class="active"><a href="/">Home</a></li>
                <% if current_user.nil? %>
	                <li><%= link_to "About", "/#about" %></li>
                <% end %>
                <!-- TODO: Replace dummy links with links to pages -->
                <li><%= link_to "Tournaments", tournaments_path %></li>
                <!-- TODO: Replace dummy links with links to pages -->
                <!-- TODO: Replace dummy links with links to pages -->
                <li><a href="#">Forums</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exchanges <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><%= link_to "Cases", resolutions_path %></li>
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><%= link_to "Cards", topics_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">Separated link</a></li>
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>

				<!-- TODO: SIGN IN -->
				<% if current_user %>
                <li class="dropdown" id="account-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                  		<span id="current-user"><%= current_user.name %></span>
                  		<% if current_user.image.nil? %>
                  		<%= image_tag "empty_profile.png", class: "profile-thumbnail" %>
                  		<% else %>
                  		<%= image_tag current_user.image, class: "profile-thumbnail" %>
                  		<% end %>
                  		 <b class="caret"></b>
                  		</a>
                  <ul class="dropdown-menu">

                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">My Profile</a></li>
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">My Tournaments</a></li>

                    <hr>

                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">Account Settings</a></li>
                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><a href="#">Privacy Settings</a></li>

                    <hr>

                    <!-- TODO: Replace dummy links with links to pages -->
                    <li><%= link_to "Sign out", signout_path %></li>

                  </ul>
				<% else %>
	              	<li><%= link_to image_tag("signin_button.png", class: "signinbutton", id: "signin"), "/auth/google_oauth2" %>
				<% end %>
                </li>
                <!-- TODO: Replace dummy links with links to pages -->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>