<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inner navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- TODO: Include a logo -->
            </div>
            <div class="navbar-collapse collapse">
            	<!-- TODO: Change the "active" class each time a link is clicked-->
              <ul class="nav navbar-nav nav-left">
                <li class="active"><a id="logo" href="/"><%= image_tag "logo_icon.png" %> LDD</a></li>
                <% if current_user.nil? %>
	                <li><%= link_to "About", "/#about" %></li>
                <% end %>
                <!-- TODO: Replace dummy links with links to pages -->
                <li><%= link_to "Tournaments", tournaments_path %></li>
                <!-- TODO: Replace dummy links with links to pages -->
                <li><%= link_to "Case Exchange", resolutions_path %></li>
                <li><%= link_to "Card Exchange", topics_path %></li>
              </ul>

              <ul class="nav navbar-nav nav-right">
				<% if current_user %>
                <li id="notifications-icon"><button type="button" class="messages-btn"><span class="glyphicon glyphicon-flash"></span> · <span class="badge">5</span></button></li>
                <li id="messages-icon"><button type="button" class="messages-btn"><span class="glyphicon glyphicon-comment"></span> · <span class="badge">14</span></button></li>
                <li id="username"><a href="<%= user_path(current_user) %>"><%=current_user.name%> · <b style="color: #FD9800;"><%= current_user.points || 0 %> pts</b></a></li>
                <li class="dropdown" id="profile-dropdown">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  		<% if current_user.image.nil? %>
                  		<%= image_tag "empty_profile.png", class: "profile-thumbnail" %>
                  		<% else %>
                  		<%= image_tag current_user.image, class: "profile-thumbnail" %>
                  		<% end %>
                  		 <b class="caret"></b>
                  		</a>
                  <ul class="dropdown-menu">
                    <!-- TODO: Add account settings for time zone -->
                    <li><%= link_to 'Dashboard', root_url + '#dashboard' %></li>
                  	<li><a href="<%= user_path(current_user) %>">View Profile</a></li>
                    <li><a href="<%= edit_user_path(current_user) %>">Edit Profile</a></li>
                    <hr>
                    <li><%= link_to "Sign out", signout_path %></li>
                 </ul>
					<% else %>
	             <li id="signin-account"><%= link_to image_tag("signin_button.png", class: "signinbutton", id: "signin-account"), "/auth/google_oauth2" %>
                </li>
					<% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
