<!DOCTYPE html>
<html>
<head>
  <title>Lincoln Douglas Debate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/twitter/bootstrap/respond.min.js"></script>
    <![endif]-->
    
</head>
<body style screen_captured_injected="true">

	<%= render 'navbar' %>
	
	<% flash.each do |key, value| %>
		<div class='flash' id='<%= key %>'>
			<%= value %>
		</div>
	<% end %>

<!-- TODO: Currently using empty-space div to avoid content overlap
	  with navbar, but will eventually need a jQuery solution.
	  See to-do under application.js to fix overlapping navbar  -->
	<div id="empty-space" style="height: 50px;"></div>

	<%= yield %>

  <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <!-- TODO: Replace footer dummy links -->
        <p>© 2013 LincolnDouglasDebate.com · Created by <a href="#">Amy Hua</a> and <a href="#">Leandra Tejedora</a> · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
      
  <!-- Place Javascript last so the pages load faster -->
  <%= javascript_include_tag "application" %>
</body>
</html>
